module "ami" {
  source = "github.com/terraform-community-modules/tf_aws_ubuntu_ami/ebs"
  region = "us-west-2"
  distribution = "trusty"
  instance_type = "t2.micro"
}

resource "aws_instance" "mesos-master" {
  count         = 3
  ami           = "${module.ami.ami_id}"
  instance_type = "t2.micro"
  key_name      = "tftest"
}

resource "null_resource" "configure-mesos-ips" {
  count = 3

  connection {
    user = "ubuntu"
    host = "${element(aws_instance.mesos-master.*.public_ip, count.index)}"
  }

  provisioner "remote-exec" {
    inline = [
      "echo '${element(aws_instance.mesos-master.*.private_ip, count.index)}' > /tmp/myip",
      "echo '${join(",", aws_instance.mesos-master.*.private_ip)}' > /tmp/masterips",
    ]
  }
}
